<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.ctexternaldisk.sleepwatcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/ctyeh/.local/bin/ctdisk-sleepwatcher-v2.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/ctyeh/.local/log/ctexternaldisk-sleepwatcher-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ctyeh/.local/log/ctexternaldisk-sleepwatcher-stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/ctyeh/.local/bin</string>
    </dict>
</dict>
</plist>
